body {
    background-color: #0a0a0a;
    color: #f4e087;
    font-family: 'Times New Roman', serif;
}
/* Normal link */
a {
    color: #f4e087;
}

/* Visited link */
a:visited {
    color: #c2a759; /* darker shade of the normal link color */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    padding: 50px 0;
}

.bastet-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

h1, h2 {
    color: #c49b63;
}

section {
    margin-bottom: 40px;
}

footer {
    text-align: center;
    padding: 20px 0;
}
